<% provide(:title, "About") %>
<h2>About Money Is Something</h2>
<p>This is a webapp that uses the Sunlight Foundation's congressional data, accessed through its <%= link_to "APIs", "http://sunlightfoundation.com/api/" %>, to help users visualize and understand the impact of money in our government. Although other sites do this, I believe that there is something missing with respect to the analysis of the direct impact money has (or doesn't have...) on votes and legislative actions.</p>

<p>Money doesn't explain everything that congress does (or doesn't do), but it explains some of what our legislature does. Money is something.</p>
